
  body{
    background-color: rgb(252, 253, 241, 0.5);
}
.wrapper {
    max-width: 50%;
    margin: 0 auto;
}
.title {
    font-size: 3rem;
    font-weight: bold;
}
.accordion {
    flex-direction: column;
    display: flex;
    cursor: pointer;
    color:rgb(97, 40, 83);
}
.accordion__header {
    cursor: pointer;
    color: blue;
    font-size: 2rem;
    border-top: 0.02rem solid gray;
    display: flex;
    justify-content: space-between;

}
input[type="radio" i]{
    opacity: 0;
    height: 0;
    visibility: hidden;
}
.accordion__open  {
    width: 6%;
    opacity: 0;
    background-image: url('assets/img/open.png');
    background-size: 1.5rem;
    background-repeat: no-repeat;
}
.accordion__content {
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in;
    max-height: 0;
    cursor: pointer;
}
.accordion__content {
    text-align: center;
}
.accordion__content img {
    max-width: 40%;
}
.accordion input:checked ~ .accordion__content {
    opacity: 1;
    max-height: 100%;
    transition: all 1s ease-in;
}
.accordion input:checked  ~ .accordion__header {
    color: rgb(8, 8, 8);
}
.accordion input:checked  + .accordion__header .accordion__open {
    background-image: url('assets/img/close.svg');
}

  @media screen and (min-width: 1000px) {
    .accordion input:hover  ~ .accordion__header {
        color: rgb(8, 8, 8);
    }
    .accordion:hover  .accordion__header .accordion__open {
        opacity: 1;
    }
    .accordion input:hover  + .accordion__header .accordion__open{
        background-image: url('assets/img/close.svg');
    }
    .accordion input:hover ~ .accordion__content {
        opacity: 1;
        max-height: 100%;
        transition: all 1s ease-in;
    } 
  }
 
